form#register{
	width: 750px;
	padding-top: 50px;
	margin: 0 auto;
}
ul.list>li{
	padding: 12px;
	border-bottom: 1px solid #EEE;
}
ul.list>li:first-child{
	border-bottom: 1px solid #777;
}
h2.title{
 display: inline;
 font-size: 21px;
 font-weight: bold;
 font-family: Georgia,Times,serif;
}
span.required_notify{
	float: right;
	font-size: 11px;
	color: #D45252;
	margin-top: 5px;
}
li>label{
	display: inline-block;
	width: 150px;
	margin-top: 3px;
}
li>input{
	height: 20px;
	width: 220px;
	padding: 5px 8px;
	border: 1px solid #aaa;
	border-radius: 2px;
	box-shadow: 0px 0px 3px #ccc,0 10px 15px #eee inset;
	padding-right: 30px;
	transition: padding 0.25s;
}
li>input:required{
	background: #fff url(../img/red_star.png)no-repeat 98% center;
}
li span.input_hint{
	display: none;
	background-color: #D45252;
	color: white;
	font-size: 11px;
	padding: 1px 6px;
	border-radius: 3px;
	position: absolute;
	margin-left: 8px;
}
li span.input_hint:before{
	content: "\25c0";
	color: #D45252;
	position: absolute;
	top: 1px;
	left: -6px;
}
li input:focus{
	box-shadow: 0 0 5px #D45252;
	border-color: #b03535;
	padding-right: 70px;
	background: #fff url(../img/invalid.png) no-repeat 98% center;
}
li input:focus:valid{
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
	background: #fff url(../img/valid.png) no-repeat 98% center;
}
input:focus+span.input_hint{
	display: inline;
}
input:valid+.input_hint{
	background-color: #28921f;
}
input:valid+.input_hint:before{
	color: #28921f;
}
ul.list>li:last-child{
	border-bottom: 1px solid #777;
}
li>button.submit{
	background-color: #68b12f;
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 6px 20px;
	margin-left: 156px;
	background: -webkit-linear-gradient(top,#68b12f,#50911e); 
}
.red{
	color: red ;
	font-size: 12px;
}
