			img,input {
				
				vertical-align: middle;
			}
				a {
					text-decoration: none;
					color: #008def;
					cursor: pointer;
					outline:none 0;
				}
				a: focus {
					outline:none 0;
				}
				a:active {
					star: expression _r (this.onFocus=this.blur();
				}
				sub,
				sup,
				small {
					font-size: 75%;
				}
				sub,
				sup {
					line-height: O;
					position: relative;
					vertical-align: baseline;
				}
				sub {
					vertical-align: text-bottom;
				}
				.fl(float:left] 
				.fr(float:right) 
				.clearfixl {
					zoom: 1
				}
				.clear, .clr {
					display: block;
					overflow: hidden;
					clear: both;
					height: 0;
					line-height: 0;
					font-size: 0;
				}
				.clearfix:after {
					content: ".";
					display: block;
					height: 0;
					 clear: both;
					visibility: hidden;
				}
				table {
					border-spacing: O;
				}
				*+html table {
					border-collapse: collapse;
				}
				
				.tal {
					text-align: left;
				}
				
				.tac {
					ltext-align: center;
				}
				
				.tar {
					ltext-align: right;
				}
				
				.hide {
					display: none;
				}
				
				.db {
					display: block;
				}
				
				.di {
					display: inline;
				}
				
				.dib {
					display: inline-block;
				}
				
				.pre {
					lposition: relative;
				}
				
				.pab {
					position: absolute;
				}
				
				.pf {
					position: fixed;
				}
				
				.cup {
					cursor: pointer;
				}
				
				.borderB 
				{
					height: 1px;
					background: #2f4266;
					font-size: 0;
				}
				.section {
					width: 100%;
					min-width: 1200px;
				}
				.cenTent {
					width: 1200px;
					margin: 0 auto;
				}
				.bgF5 {
					background: #f5f5f5;
				}
				.bgF {
					background: ffffff;
				}
				.font-bold {
					font-weight: bold;
				}
				.pdLr20 {
					padding: 0 20px;
				}
				.pdT20 {
					padding-top: 20px
				}
				.pdL10 {
					padding-left: 10px;
				}
				.pdR10 {
					padding-right: 10px;
				}
				.pdBl0 {
					padding-bottom: 10px;
				}
				.mgT30 {
					margin-top: 30px;
				}
				.mgR05 {
					margin-right: 5px;
				}
				.mgRl3 {
					margin-right: 13px;
				}
				.mgL20 {
					margin-left: 20px;
				}